/*
Colors {
Navy Color: #02182B;
Teal: #24E5BB;
Pink: #BF1363;
Yellow: #FCC000;
}

*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #02182B;
  font-family: "Avenir Next";
  color: #fff;
}
.top-wrapper {
  padding: 0;
  background: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?dpr=1&auto=format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=');
  background-size: cover;
}
#topsection {
  background: rgba(2, 24, 43, .95 );
}
.navbutton {
  border: 1px solid #BF1363;
}
.nav-link {
  color: #fff;
}
.navbar-collapse {
  justify-content: flex-end;
}
.fa-bars {
  color: #24E5BB;
}
.nav-item:hover {
  border-bottom: 1px solid #BF1363;
}
.nav-item a:hover {
  color: #fff;
}
.jumbotron {
 background: none;
 text-align: center;
}
#changeTitle{
  color: #BF1363;
  font-size: 3.3rem;
}
h1 {
  color:#24E5BB;
  font-weight: bold;
  font-size: 4.5rem;
  text-shadow: 0.5vh .5vh 0 #BF1363;
  padding-top: 10%;
  margin-bottom: 3rem;
}
.arrow {
  margin: 35% 0 25% 0;
}
.fa-arrow-down {
  color: #BF1363;
  height: 50px;
  width: 50px;
  padding-top: 2.5%;
  background-color: #FCC000;
  border-radius: 100px;
}
h2, h3 {
  font-size: 2.35rem;
  font-weight: bold;
}
#topname {
  color: #FCC000;
}
hr {
  width: 30%;
  border: 1.5px solid #BF1363;
}
.top-space {
  padding-top: 1.5rem;
}
.space-top-bttm {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.descrip {
  font-family: Baskerville, serif;
  line-height: 1.75rem;
  font-size: 1.60rem;
}
.column-list {
  -webkit-column-count: 3;
  -webkit-column-gap:20px;
  -moz-column-count:3;
  -moz-column-gap:20px;
  -o-column-count: 3;
  -o-column-gap:20px;
  column-count: 2;
  column-gap:20px;
  list-style-position: inside;
  padding-left: 5%;
}
li {
  padding-top: 5%;
}
#emailbtn {
  background-color: #FCC000;
  color: #02182B;
  font-size: 1.5rem;
  margin: 10% 0% 10% 60%;
}
.box {
  height: 400px;
  width: 100%;
  display:flex;
  display: flex;
  align-items: flex-end;
}
#scriptloop {
  background: url('../images/scriptloop_gold.png');
  background-size: contain;
}
#calculator {
  background: url('../images/calculator_wht.png');
  background-size: contain;
}
#neatshopp {
  background: url('../images/neatshop_wht.png');
  background-size: contain;
}
#storyline {
  background: url('../images/storyline_teal.png');
  background-size: contain;
}
#work-wrap {
  background: url('../images/diagonal_striped_brick_@2x.png');
  background-size: contain;
}
#work {
  padding: 10% 5%;
  background: rgba(36,229,187, .75);
  color: #fff;
}

.work-title {
  background: rgba(2, 24, 43, .80);
  padding: 1rem .5rem;
  width: 100%;
}
.no-padding {
  padding: 0!important;
}
@media (min-width: 736px) {
  .navbar-toggler {
    font-size: 2.25rem;
  }
  .fa-arrow-down {
    height: 75px;
    width: 75px;
    padding-top: 2.7%;
  }
  .fa-2x {
    font-size: 3em;
  }
  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  h2, h3 {
    font-size: 2.5rem;
  }
  .descrip {
    line-height: 2rem;
    font-size: 1.50rem;
  }
  #emailbtn {

  }
}
@media (min-width:992px) {

}
@media (min-width: 1200px) {

}
