/*
CSS STYLE GUIDE

Font -
Titles: Avenir Next Bold
h3: Georgia Italics

HEADER -
header background: #02182B

Title Font Color: #24E5BB
      Shadow Color: #BF1363
SubTitle Font Color: #BF1363
Break Line: #24E5BB

Maine -
main background: #02182B
work background: #24E5BB
footer background: #BF1363
*/

* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Avenir Next";
}
header {
  background: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?dpr=1&auto=format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=');
  background-size: cover;
}
.headWrapper {
  background: rgba(2, 24, 43, .95 );
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  height:100vh;
  align-items: center;
}
h1 {
  color:#24E5BB;
  font-weight: bold;
  font-size: 8vh;
  text-shadow: 0.5vh .5vh 0 #BF1363;
  padding-top: 10%;
}
.scrollWrapper {
  margin: 25% 5% 5% 0;
  color: #BF1363;
  font-size: 6vh;
  height: 9%;
  overflow: hidden;
}
.scrollText {
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin-left: -5%;
}
#headHR {
  width: 45%;
  border: .3vh solid #24E5BB;
}
.arrow{
  width: 53px;
  height: 69.5px;
}
#headArrow {
  margin-top: 35%;
}
.topWrapper {
  display:flex;
  flex-flow:column wrap;
  height: 90vh;
  background: #02182B;
  color: #FFFFFF;
  text-align: left;
  padding: 0 7% 0 7%;
}
.topTitles {
  padding: 10% 20% 5% 0;
}
.sectionHeader{
  font-size: 4.5vh;
  padding-top: 5%;
  width: 100vw;
}
.sectionSub {
  font-size: 3.5vh;
}
#topHR {
  width: 30%;
  border: 1.5px solid #BF1363;
  margin: 5% 20% 10% 0;
}
#topname {
  color: #FCC000;
}

.descrip {
  font-family: Georgia;
  font-style: italic;
  font-size:3vh;
  font-weight: lighter;
}
#emailLink {
  background: none;
  margin-top: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 4vh;
}
.workWrapper {
  background: url('../images/diagonal_striped_brick_@2X.png');
  background-size: contain;
}
.workBG {
  background: rgba(36, 229, 187, .8);
  padding-bottom: 10%;
}
#coolThings {
  text-align: center;
}
#myWork {
  color: #ffffff;
  padding: 5% 0 0 5%;
}
span{
  color: #BF1363;
}
.imgtree {
  display: flex;
  height: 70vh;
}
.langimg{
  height: 15vh;
  width: 30%;
  margin-top: 10%;
}
.workCard {
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 30vh;
  background-size: cover;
}
#project1 {
  background:url('../images/neatshop.png');
  background-size: cover;
}
#project2 {
  background: url('../images/Scriptloop.png');
  background-size: cover;
}

.footerWrapper {
  height: 15vh;
  background: #BF1363;
  color: #ffffff;
  font-family: Georgia;
  font-style: italic;
  font-size: .3em;
}

/*FrontPage Animation*/
@keyframes change {
   0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
